.Jue,
.Twel,
.Yumi {
  position: relative;
  display: flex;
  justify-content: center;
}

.Jue-paper {
  width: 1000px;
  height: 1200px;
}

.Yumi-paper {
  width: 900px;
  height: 1600px;
}

.Twel-paper {
  width: 900px;
  height: 1100px;
}

.Jue-letter {
  position: absolute;
  margin: 190px 25vw;
  padding: 10px;
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: 120%;
}

.Twel-letter {
  position: absolute;
  margin: 95px 25vw;
  padding: 20px;
  color: black;
  font-family: "Charm", cursive;
  font-size: 130%;
}

.Yumi-letter {
  position: absolute;
  margin: 80px 25vw;
  padding: 20px;
  color: black;
  font-family: "Rochester", cursive;
  font-size: x-large;
}

@media only screen and (max-width: 500px) {
  .Jue-paper {
    width: 100%;
    height: 1200px;
  }

  .Jue-letter {
    margin: 150px 7vw;
    padding: 50px 20px;
    color: black;
    font-family: "Dancing Script", cursive;
    font-size: 85%;
  }

  .Yumi-paper {
    width: 100%;
    height: 1300px;
  }

  .Yumi-letter {
    margin: 80px 7vw;
    font-size: medium;
  }

  .Twel-paper {
    width: 100%;
    height: 800px;
  }

  .Twel-letter {
    margin: 70px 8vw;
    font-size: small;
  }
}
