* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #18191c;
  color: white;
}

a {
  text-decoration: none;
}

.App {
  position: relative;
}

.Page {
  padding: 0 3vw;
}

.Page-Title {
  font-family: "Poiret One", cursive;
  font-size: 280%;
  text-align: center;
  padding: 20px;
}

.Sub-header {
  font-family: "Poiret One", cursive;
  margin: 50px 0;
  font-size: 230%;
}

.Photo-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 50px;
}

.Memo-image {
  width: 550px;
  height: 360px;
  border-radius: 10px;
}

.Vertical-image {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  margin-left: 100px;
  transform: rotate(3deg);
}

.Memo-image:nth-child(odd),
.Vertical-image:nth-child(odd) {
  transform: rotate(-3deg);
}

.Memo-image:nth-child(even),
.Vertical-image:nth-child(even) {
  transform: rotate(3deg);
}

.Carousal-image {
  width: 550px;
}

.Memo-caption {
  font-family: "Nova Mono", monospace;
  font-size: larger;
  text-align: center;
  width: 50%;
  align-self: center;
}

.carousel-indicators {
  margin-bottom: 2px;
}

.Carousal-image-vertical {
  width: 450px;
}

.Next {
  color: rgb(221, 219, 219);
  font-size: 120%;
  text-align: center;
  transition: all 200ms ease-out;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid rgb(221, 219, 219);
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
}

.Next:hover {
  color: rgb(151, 151, 151);
  border: 1px solid rgb(151, 151, 151);
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .Photo-section {
    flex-direction: row;
  }

  .Page {
    overflow-x: hidden;
  }

  .Sub-header {
    margin: 10px 0;
    font-size: 190%;
  }

  .Photo-section {
    justify-content: center;
    padding: 50px 30px;
  }

  .Memo-image {
    width: 280px;
    height: 200px;
  }

  .Memo-caption {
    margin: 20px 0;
  }

  .Vertical-image {
    width: 250px;
    height: 380px;
    margin-left: 0px;
  }
}
